/***** Color scheme *****/
@onyx:        #3F4045;
@mapurple:    #bc82fd;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

#navabout {
	color: @mapurple;
}

#music {
	margin-left: 15%;
	margin-top: 5%;
}

#profilepic {
	margin-right: 10%;
	width:300px;
  	height:400px;
  	object-fit:cover;
	//border-radius: 50%;
}

.greetbody {
	display: flex;
	gap: 50px;
}