/***** Color scheme *****/
@onyx:        #3F4045;
@mapurple:    #bc82fd;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

#navabout {
	color: @mapurple;
}

.greeting {
	background-color: @mapurple;
	display: block;
	padding: 20px;	
	width: 100%;
	align-content: center;
}

#profilepic {
	//margin-right: 10%;
	width:300px;
  	height:400px;
  	object-fit:cover;
	//border-radius: 50%;
	border: 2em solid #FFFFFF;
}

#bio {
	display: flex;
	column-gap: 50px;
	//margin-left: 20%;
	align-items: center;
	justify-content: center;
}
#biotext p{
	background-color: #FFFFFF;
	width: 30em;
	padding: 20px;
}
#biotext p {
	font-size: 15px;
}
