/***** Color scheme *****/
@onyx:        #3F4045;
@mapurple:    #bc82fd;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

#navabout {
	color: @mapurple;
}

.mainsection {
	padding-inline: 13em;
	padding-top: 5em;
	padding-bottom: 5em;
	h4 {padding-bottom: 1em;}
}

.greeting {
	background:	linear-gradient(135deg, rgba(74, 214, 116, 0.623), rgba(255, 255, 255, 0.2) 40%),
				linear-gradient(315deg, rgba(251, 117, 231, 0.556), rgba(255, 255, 255, 0.4) 40%), 
				#bb82fd6a;

	padding-inline: 13em;
	padding-top: 1em;
	padding-bottom: 5em;

	#bio {
		display: grid;
		grid-template-columns: 100%;
		row-gap: 1.5em;

		div { justify-self: center; }
		
		#biotext {
			padding: 40px;	
			background-color: #FFFFFF;
			p { margin-block-start: 0; margin-block-end: 0; }
			a { text-decoration: underline; }
		}

		#pic {
			animation-delay: 1.5s;
			max-width: 380px;
			max-height: 430px;	
			#profilepic {
				object-fit: cover;
				max-width: 100%;
				height: auto;
				width: auto;
			}
		}
	}
}

// idk about this
#embroidery {
	display:block;
	text-align: center;
	margin: auto;
	width: 100%;
	.instacontent {
		margin: auto;
		width: 40%;
		//padding: 2em;
	}
}

// Responsive homepage
@media screen and (max-width: 960px) {
	.mainsection, .greeting {
		padding-inline: 6em;
	}
	#embroidery .instacontent {
		width: 60%;
	}
}
@media screen and (max-width: 675px) {
	.mainsection, .greeting {
		padding-inline: 2em;
	}
	#embroidery .instacontent {
		width: 100%;
	}
}