/***** Color scheme *****/
@onyx:        #1e1e1e;
@mapurple:    #8c5ed3;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

//@madarkpurple: #8d34f2;
@mamidpurple:  #DCBDFF;
@malitepurple: #F5ECFF;
@mayellow:     #FFF578;
//@maliteyellow: #FFFDEA;

/* unused fonts
@font-face {
  font-family: 'Almarai Reg';
  src: url('../assets/Almarai/Almarai-Regular.ttf');
}
@font-face {
  font-family: 'Almarai Lite';
  src: url('../assets/Almarai/Almarai-Light.ttf');
}*/
@font-face {
  font-family: 'Tenor Sans';
  src: url('../assets/tenorsans.ttf');
}
@font-face {
  font-family: 'Graphik';
  src: url('../assets/Graphik-Font-Family/GraphikRegular.otf');
}

html {
	scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  //min-width: 300px;
  //min-height: 12%//100vh;
}
h1, h2, h3, h4, h5 {
	font-family: 'Tenor Sans', sans-serif;
}
a, p {
	color: @onyx;
  font-family: 'Graphik', sans-serif;
}
a:link, a:visited {
	color: @onyx;
	//text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: @mapurple;
}
p {
  line-height: 2em;
}

/*** color fade-in ***/
.fadeinpurple {
  transition: color 0.3s ease-in-out;
}
.fadeinpurple:hover {
  color: @mapurple;
}
/*** sliding underline ***/ 
.purpleline {
    & {
      background-image: linear-gradient(@mapurple, @mapurple);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s ease-in-out;
      }
    &:hover,
    &:focus,
    &:active {
      background-size: 100% 0.1em;
      background-position-x: 0%;
    }
}
/*** sliding highlight ***/ 
/*
.pagelink {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    display: block;
    transition: width .5s ease-in-out;
  }
  &:hover {
    color: black;
    &:after {
      width: 100%;
    }
  }
}
.pagelink {
    z-index: 3;
    &:after {
        background: rgba(231, 110, 167, .4);
        height: 1.25em;
        z-index: -1;
    }
    &:hover {
        color: black;
    }
}*/
/*** grow/shrink hover ***/
.grow {
	transition: all .1s ease-in-out;
}
.grow:hover {
	transform: scale(1.02);
}
.icongrow {
	transition: all .2s ease-in-out; 
}
.icongrow:hover { 
	transform: scale(.88); 
}	


/*** NAVBAR STUFF ***/
nav {
	position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
	top: 0;
	width: 100%;
  transition: top 0.3s;
	z-index: 1;
	padding: 10px;
	background-color: rgb(255, 255, 255);
  height: auto !important;
  box-shadow: none !important;
  line-height: 0 !important;
}
nav a:link, nav a:visited {
	color: @onyx;
	text-decoration: none;
}
.pagelinks {
  margin-left: 3.125em;
}
.navelem {
  vertical-align: middle;
	font-size: 1.3em;
}
#logo.navelem {
  font-size: 0;
  margin-left: 3.125em;
}
nav .pagelink{
  padding: 10px;
	margin-inline-start: 3.125em;  
  & {
    background-image: linear-gradient(@mapurple, @mapurple);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    }
  &:hover,
  &:focus,
  &:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
  }
}
.navicons {
  align-items: flex-end;
  margin-right: 0;
  display: inline;
}
.navicon {
	margin-inline-end: 2em;
}
nav i {
  line-height: 0 !important;
  height: 0 !important;
  font-size: 1.2em;
}
/**** hidden for now ****/
nav #hamburg {
  display: none;
}
nav .hamicon {
  display: none;
}
nav .fa-xmark {
  display: none;
}
/************************/


/** Responsive Navbar **/
/* When the screen is less than x pixels wide, hide all links, except for the first one ("Katherine Lim"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 675px) {
  nav .navicons, .pagelink {
    display: none;
  }
  nav #hamburg {
    display: inline;
    margin-right: 2em;
    justify-content: center;
    //line-height:1 !important;
  }
  .pagelinks {
    margin: auto;
    padding-left: 2.5em;
  }
  .pagelink, .navicons {
    overflow: hidden;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  nav.responsive {
    position: fixed; 
    align-items: baseline;
  }
  nav.responsive .fa-xmark {
    display: flex;
    padding-top: 2.2em;
  }
  nav.responsive .fa-bars {
    display: none;
  }
  nav.responsive .pagelinks a {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  nav.responsive .pagelink {
    padding-top: 1.5em;
    padding-bottom: 1.1em;
  }
  nav.responsive .hamicons {
    display: flex;
    flex-direction:row;
    padding-top: 2.8em; // how much is too much?
    padding-bottom: 1.4em;
  }
  nav.responsive .hamicon {
    font-size: 1.4em;
    padding-inline: 1em;
  }
}


main {
	/*min-height: 400px;*/
	width:100%;
}
#mainhome {
	width: 100%;
	/*min-height: 850px;*/
  flex: 1;
}

.titlediv {
  overflow:hidden;      // for sliding in
}
.toptext {
	animation: fadeSlideIn 1.5s;
	transition-timing-function: ease-out;
}
@keyframes fadeSlideIn {
	from {opacity:0; margin-left:-100%;}
	to {opacity:1; margin-left: 0%;}
}
@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}


.greeting h1 {
	color: @onyx;
  font-size: 2.3em;
}
.greeting p {
	font-size: 1.3em;
}


.footer {
	background: 
    color(@onyx);
  flex-shrink: 0;
  text-align: center;
  //padding: 1em;
}
#footerconnect {
  padding: 4em;
  //margin: 1em;
}
#footerlinks {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.15; 
}
.footer a {
  background-color: white;
  padding: 1em; 
  color: @onyx;
  text-decoration: none;
  margin-inline: 1em;
  margin-top: 1em;
  font-weight:bold;
  vertical-align: middle;
  //align-items: center;
}
#footerbottom {
  padding: 1em;
  //border-top: 3px solid @mapurple;
}
.footer h3, .footer p {
  color:white;
  margin: 0;
}
// centering the linkedin icon
#linkedin a{
  text-align: center;
}
#linkedin i {
  display: inline-block;
  text-align: center;
}
.footer i {
  line-height: 0 !important;
}


/*.star { position: relative; 
margin: 1em;
min-height:10em;}*/
/*
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}*/
svg{
  //display:block; margin:0 auto;
  width:30%; 
  height:auto;
  position: absolute;

  animation: fadeIn 1s;
	transition-timing-function: ease-out;
	opacity:0;
	animation-fill-mode: forwards;
	animation-delay:2s;
  //z-index: -1;
}

.reactbutton {
  vertical-align: middle;
  width: 50px;
}