/***** Color scheme *****/
@onyx:        #171717;
@mapurple:    #8c5ed3;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

//@madarkpurple: #8d34f2;
@mamidpurple:  #DCBDFF;
@malitepurple: #F5ECFF;
@mayellow:     #FFF578;
//@maliteyellow: #FFFDEA;

/* unused fonts
@font-face {
  font-family: 'Almarai Reg';
  src: url('../assets/Almarai/Almarai-Regular.ttf');
}
@font-face {
  font-family: 'Almarai Lite';
  src: url('../assets/Almarai/Almarai-Light.ttf');
}*/
@font-face {
  font-family: 'Tenor Sans';
  src: url('../assets/tenorsans.ttf');
}
@font-face {
  font-family: 'Graphik';
  src: url('../assets/Graphik-Font-Family/GraphikRegular.otf');
}

html {
	scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  //min-height: 12%//100vh;
}
h1, h2, h3, h4, h5 {
	font-family: 'Tenor Sans', sans-serif;
}
a, p {
	color: @onyx;
  font-family: 'Graphik', sans-serif;
}
a:link, a:visited {
	color: @onyx;
	//text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: @mapurple;
}
p {
  line-height: 30px;
}

/*** color fade-in ***/
.fadeinpurple {
  transition: color 0.3s ease-in-out;
}
.fadeinpurple:hover {
  color: @mapurple;
}
/*** sliding underline ***/ 
.purpleline {
    & {
      background-image: linear-gradient(@mapurple, @mapurple);
      background-size: 0% 0.1em;
      background-position-y: 100%;
      background-position-x: 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s ease-in-out;
      }
    &:hover,
    &:focus,
    &:active {
      background-size: 100% 0.1em;
      background-position-x: 0%;
    }
}
/*** sliding highlight ***/ 
/*
.pagelink {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    display: block;
    transition: width .5s ease-in-out;
  }
  &:hover {
    color: black;
    &:after {
      width: 100%;
    }
  }
}
.pagelink {
    z-index: 3;
    &:after {
        background: rgba(231, 110, 167, .4);
        height: 1.25em;
        z-index: -1;
    }
    &:hover {
        color: black;
    }
}*/
/*** grow/shrink hover ***/
.grow {
	transition: all .1s ease-in-out;
}
.grow:hover {
	transform: scale(1.02);
}
.icongrow {
	transition: all .2s ease-in-out; 
}
.icongrow:hover { 
	transform: scale(.88); 
}	
.toptext {
	//font-size: 70px;
	animation: fadeSlideIn 1.5s;
	transition-timing-function: ease-out;
}
@keyframes fadeSlideIn {
	from {opacity:0; margin-left:-100%;}
	to {opacity:1; margin-left: 0%;}
}
@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

/*** NAVBAR STUFF ***/
nav {
	position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
	top: 0;
	width: 100%;
  transition: top 0.3s;
	z-index: 1;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}
nav a:link, nav a:visited {
	color: @onyx;
	text-decoration: none;
}
.pagelinks {
  margin-left: 4em;
}

.navelem {
  vertical-align: middle;
	font-size: 20px;
}
#logo.navelem {
  font-size: 0;
  margin-left: 4em;
}
nav .pagelink{
  padding: 10px;
	margin-inline-start: 50px;  
  & {
    background-image: linear-gradient(@mapurple, @mapurple);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    }
  &:hover,
  &:focus,
  &:active {
    background-size: 100% 0.1em;
    background-position-x: 0%;
  }
}
.navicons {
  align-items: flex-end;
  margin-right: 0;
  display: inline;
}
.navicon {
	margin-inline-end: 35px;
}
/**** hidden for now ****/
nav #hamburg {
  display: none;
}
nav .hamicon {
  display: none;
}
nav .fa-xmark {
  display: none;
}
/************************/


/** Responsive Navbar **/
/* When the screen is less than x pixels wide, hide all links, except for the first one ("Katherine Lim"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 675px) {
  nav .navicons, .pagelink {
    display: none;
  }
  nav #hamburg {
    display: inline;
    margin-right: 50px;
    margin-top: 30px;
    align-self: baseline;
  }
  .pagelinks {
    margin: auto;
    padding-left: 40px;
  }
  .pagelink, .navicons {
    overflow: hidden;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  nav.responsive {position: fixed;}
  nav.responsive .fa-xmark {
    display: inline;
    margin-right: 1px;
    width: 60px;
    height: 20px;
    align-self: baseline;
  }
  
  nav.responsive .fa-bars {display: none;}
  
  nav.responsive .pagelinks a {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  nav.responsive .pagelink {
    padding-top: 20px;
  }
  nav.responsive .hamicons {
    display: flex;
    flex-direction:row;
    padding-top: 25px; // how much is too much?
    padding-bottom: 15px;
  }
  nav.responsive .hamicon {
    font-size: 20px;
    padding-inline: 15px;
  }
}


main {
	/*min-height: 400px;*/
	width:100%;
}
#mainhome {
	width: 100%;
	/*min-height: 850px;*/
  flex: 1;
}

.greeting {
	/*margin-left: 20%; 
	margin-right: 20%;*/
  display: flex;
}
.greeting h1 {
	color: @onyx;
  font-size: 40px;
}
.greeting p {
	font-size: 20px;
}

.footer {
	background-color: @mapurple;
	/*position:relative;*/
	width: 100%;
	/*min-height: 100px;*/
	/*margin: 0px;
	bottom:0%;*/
  flex-shrink: 0;
}
.footer p {
  text-align: center;
}
/*
.footer p {
	padding: 20px;
	color: #ffffff;
}
.footer i {
	margin: 20px;
	color: #ffffff;	
}
.footer i:hover {
	color: #000000;
}*/

.star { position: relative; 
margin: 1em;
min-height:10em;}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.reactbutton {
  vertical-align: middle;
  width: 50px;
}