html {
	scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
	margin-top: 12%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}
a, p {
	font-family: 'Open Sans', sans-serif;
}
a:link, a:visited {
	color:rgb(110, 110, 110);
	text-decoration: none;
}
a:hover {
	color: #000000;
	/*text-decoration: underline;
	background-color: #895DDB;*/
}
.grow { 
	transition: all .2s ease-in-out; 
}
.grow:hover { 
	transform: scale(.95); 
}
.icongrow {
	transition: all .2s ease-in-out; 
}
.icongrow:hover { 
	transform: scale(.85); 
}	


nav {
	position: fixed;
	top: 0;
	width:100%;
	height: 27px;
	z-index: 1;
	padding: 20px;
	margin:auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2); /*horiz vert blur dunno color*/
}
nav a, nav li, nav ul {
	display: inline-block;
	text-align: center;
	position: relative;
	font-size: 20px;
	margin: 0 auto;
}
#myname {
	color: black;
}
#toppages li, #topicons li {
	padding-inline-end: 20px;
}
#topicons {
	list-style-type: none;
	float:right;
	text-align: center;
	position: relative;
	margin-right: 3%;
}


main {
	min-height: 400px;
	width:100%;
}
#mainhome {
	width: 100%;
	min-height: 850px;
}


.greeting {
	margin-left: 20%; 
	margin-right: 20%;
}
.greeting h1 {
	color: #b97cff;
}
.greeting p {
	font-size: 20px;
}


footer {
	background-color: #703ea8;
	position:relative;
	width: 100%;
	min-height: 100px;
	margin: 0px;
	bottom:0%;
}
footer p {
	padding: 20px;
	color: #ffffff;
}
footer i {
	margin: 20px;
	color: #ffffff;	
}
footer i:hover {
	color: #000000;
}