/***** Color scheme *****/
@onyx:        #1e1e1e;
@mapurple:    #8c5ed3;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

@malitepurple: #c59ff0;
@accentmuted: #e5dd80;

@red: #e66465;
@blue: #9198e5;
@blue2: rgb(59, 84, 228);
@green: rgb(78, 201, 78);
@pink: pink;


.greeting {
	//top: -100px;
	//background-color: @mapurple;
	
	//background: linear-gradient(-45deg, @mapurple, @malitepurple, @accentmuted, @accent);
	//animation: gradient 5s ease infinite;
	//z-index: -2;
	background: 
		/*	
		radial-gradient(circle at bottom, white, transparent 70%),    
		linear-gradient(to top, @mapurple 0%, transparent 70%),    
		linear-gradient(to bottom, transparent, rgba(white, 0.4) 20%), blue;  */

		/*
		// rainbowy
		linear-gradient(336deg, rgba(255, 48, 106, 0.5), rgba(255, 255, 255, 0.4) 70.71%),
		linear-gradient(217deg, rgba(0, 255, 72, 0.5), rgba(255, 255, 255, 0.4) 70.71%),
		linear-gradient(127deg, rgba(68, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 70.71%);
		*/

		// 4 corners, 4 colors
		/*
		linear-gradient(45deg, rgba(255, 48, 138, 0.5), rgba(255, 255, 255, 0.4) 40.71%), 
		linear-gradient(225deg, rgba(0, 255, 72, 0.5), rgba(255, 255, 255, 0.4) 40.71%), 
		linear-gradient(135deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 40.71%),
		linear-gradient(315deg, rgba(0, 64, 255, 0.7), rgba(255, 255, 255, 0.3) 40.71%);
		*/

		// 4 corners, 2 colors
		linear-gradient(45deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(225deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(135deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%),
		linear-gradient(315deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%);
	
  	//animation: bg 5s ease infinite;

	//min-height: 30em;
	//width: 100%;
	//background-size: 400% 400%;
	//min-height: 70vh;
}

// color cycle
/*@keyframes bg {
  0%, 100% { background-color: @blue2; }
  25% { background-color: @green; }
  50% { background-color: @accentmuted; }
  75% { background-color: @pink; }
}
@keyframes bg {
	0%, 100% { //fill-opacity:1; 
		background: 
		linear-gradient(45deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(225deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(135deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%),
		linear-gradient(315deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%); }
	//25% { opacity:0;}//background-color: @green; }
	50% { //opacity:1; 
		background: 
		linear-gradient(135deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(315deg, rgba(0, 64, 255, 0.6), rgba(255, 255, 255, 0.3) 40.71%), 
		linear-gradient(45deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%),
		linear-gradient(225deg, rgba(119, 0, 255, 0.7), rgba(255, 255, 255, 0.3) 50.71%); }
	//75% { opacity:0;}//background-color: @pink; }
}*/

.greeting {
	padding-inline: 17em;
	padding-top: 7em;
	padding-bottom: 6em;
	//overflow: hidden;
	display: flex;
}
.greetingtext {
	position: relative;
}


#description a {
	text-decoration:underline;
}
.topsvg {
	//margin-left: 30em;
	margin-left: -5em;
	margin-top: 0em;  

	transform: scale(1);
	transform-box: fill-box;
	transform-origin: center;
	transition-timing-function: ease-out;
	opacity: 0;
	animation: fadeBounceIn .6s linear 2s forwards;
}
.topsvg2 {
	right: 10%;
	display: inline-block;
	align-self: flex-end;

	transform: scale(1);
	transform-box: fill-box;
	transform-origin: center;
	transition-timing-function: ease-out;
	opacity: 0;
	animation: fadeBounceIn .6s linear 2.2s forwards;
}

#projectdiv {
	padding-inline: 17em;
	padding-top: 4em;
	padding-bottom: 4em;
	//max-width: 90%;
}

#previews {
	display: grid; 
    align-items: center;
    justify-content: center;
    justify-items: center;
	grid-template-columns: repeat(auto-fill, 100%);
    //grid-template-rows: 50em;
}

///// not really used atm /////
.project {
	/*min-height: 260px;*/
	border-style: solid;
	border-color: @onyx;
	/*border-radius: 8px;
	box-shadow: 5px 5px;*/
	color: @onyx;
	overflow:hidden;
	width: 30em;//400px;
    height: 25em;
	vertical-align: middle;
    justify-self: center;
    align-self: center;
}
#projp {
	overflow:hidden;
}
///////////////////////////////


.projimg {
	width: 100%;
	max-width: 60em;
}
#previews a {
	margin-top: 2em;
}

// Responsive homepage
@media screen and (max-width: 960px) {
	.greeting, #projectdiv {
		padding-inline: 6em;
	}
}
@media screen and (max-width: 675px) {
	.greeting, #projectdiv {
		padding-inline: 2em;
	}
}