/* home */
#previews {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

.project {
	/*min-height: 260px;*/
	border-style: solid;
	border-color:#000000;
	border-radius: 8px;
	box-shadow: 5px 5px;
	color: black;
	padding: 3%;
	overflow:hidden;
	width:73%;
	margin-left:10%;
	margin-right:10%;
}
#projimg {
	width: 50%;
	float:left;
}
#projp {
	overflow:hidden;
}
#previews img {
	width: 90%;
	display: inline-block;
	vertical-align: middle;
}

/****************************/

/* about */
#music {
	margin-left: 15%;
	margin-top: 5%;
}

/****************************/

/* contact */
#contactbtns {
	margin: auto;
    width: 100%;
    padding: 0px;    
    text-align: center;
}
#contactbtn {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	border: 2px solid black;
	text-align : center;
  	padding : 20px;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.contacticon {
	font-size: 30px;
	color: black;
}