/***** Color scheme *****/
@onyx:        #3F4045;
@mapurple:    #bc82fd;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

/* home */
#navhome {
	color: @mapurple;
}

.greeting {
	background-color: @neutral;
	/*background-image: linear-gradient(#e7d2ff,#bc82fd)*/
	min-height: 30em;
	top: -100px;
	width: 100%;
}
#text h1 {
	font-size: 70px;
}
#text {
	margin-top: 10em;
	margin-left: 15em;
	margin-right: 15em;
}
#description {
	line-height: 40px;
}
#pic {
	margin-left:2em;
}

#projectdiv {
	margin-left: 50px;
    margin-right: 50px;
	padding: 20px;
}

#previews {

	display: grid; 
    align-items: center;
    justify-content: center;
    justify-items: center;
	grid-template-columns: repeat(auto-fill, 450px);
    grid-template-rows: 400px;
}

.project {
	/*min-height: 260px;*/
	border-style: solid;
	border-color:#000000;
	/*border-radius: 8px;
	box-shadow: 5px 5px;*/
	color: black;
	padding: 3%;
	overflow:hidden;
	width: 400px;
    height: 300px;
	vertical-align: middle;
    justify-self: center;
    align-self: center;
}
#projimg {
	width: 50%;
	//float:left;
}
#projp {
	overflow:hidden;
}
#previews img {
	width: 90%;
	//display: inline-block;
	vertical-align: middle;
}