//maybe copy stuff from project.css?
/***** Color scheme *****/
@onyx:        #1e1e1e;
@mapurple:    #8c5ed3;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

@malitepurple: #c59ff0;
@accentmuted: #e5dd80;

.projecttop {
    text-align: center;
    padding-top: 3em;
    line-height: 0;
    padding-inline: 2em;
    .projecttext {
        display: block;
        background-color: rgba(255, 255, 255);
        padding-bottom: 1em;
        padding-top: 0.3em;
        padding-left: 2em;
        padding-right: 2em;
        width: fit-content;
        margin: auto;
        //box-shadow: 5px 5px #1e1e1e, -5px -5px #1e1e1e;
        border: 0.4em outset #919191;
        //box-shadow: #1e1e1e4c 0 0 10px 0;
        //border-radius: 2em;
    }
    .topimg {
        margin-top: 1em;
        width: 80%;
        bottom: auto;
    }
}

.projectinfo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;

    .infobox {
        background-color: white;
        border: 1.5px @onyx solid;
        width: 15em;
        padding: 1.3em;
        margin: 1em;
        h3 {
            margin: .5em;
            font-size: 1.5em;
            //font-weight: bold;
            font-family: 'Graphik Semibold Italic';
        }
        p {
            //line-height: 0em;
            padding: 0;
            margin: 0;
            font-size: 0.9em;
        }
    }
}

.emphasis {
    text-align: center;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    p {
        font-size: 1.3em;
        font-family: 'Graphik Italic';
        padding-bottom:0 !important;
    }
}

.copyright {
    font-family: 'Graphik Light Italic';
    text-align: center;
}

.caption {
	font-size: 1em;
	font-family: 'Graphik Italic';
	color: rgb(110, 110, 110);
	text-align: center;
}

.quote {
    text-align:center;
}

.section {
    padding-inline: 15em;
    //padding-bottom: 3em;
    padding-top: 3em;
    h2 {
        font-size: 3em;
    }
    p {
        line-height: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .listp {
        margin-bottom: 0;
        padding-top: 1em;
        text-decoration:underline;
        font-family: 'Graphik Semibold';
    }
    ul {
        margin-top: 0;
        img {
            padding-bottom: 1em;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
    }
    .mediumimg {
        max-width: 60%;
    }
    .smallerimg {
        width: 45%;
    }
}
.subsection {
    padding-top: 0em;
    padding-bottom: 3em;
    h3 {
        font-size: 2em;
        margin-bottom: 0;
        font-family: 'Graphik Medium';
        color: @onyx;
    }
}

.hifiscreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    img {
        width: 30%;
        margin: 0;
    }
    ul {
        padding-top:1em;
        padding-bottom:1em;
    }
}

.lofigallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%;
    flex-wrap: wrap;

    img {
        width: 30%;
        min-width: 15em;
        margin: 0;
        padding: 1em;
    }
}

.iframediv {
    //position: relative;
    overflow: hidden;
    
    //width: 100%;
    //padding-top: 57%; /* aspect ratio */
    //max-width: 40em;
    //max-height: 10em;
    //min-width: 20em;
    min-height: 15em;

    text-align:center;
    
    display:flex;
    align-items:center;
    justify-content: center;

    iframe {
        //display:block;
        //align-self: center;
        //justify-self:center;
        //text-align:center;
        //margin:auto;
        
        /*position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;*/
        width: 50%;
        min-width: 20em;
        height: 100%;
        min-height: 15em;
    }
}

hr {
    width:50%;
    height:2px;
    border-width:0;
    color:@onyx;
    background-color:@onyx;
}

.button {
    display: flex;
    text-align: center;
    
    align-items: center;
    justify-content: center;
    padding: 1em;
    a {
        padding: 1.3em;
        text-decoration:none;
        i {
            padding-right: 1em;
        }
        
    }
}

// Responsive project margins
@media screen and (max-width: 960px) {
	.section {
		padding-inline: 6em;
	}
}
@media screen and (max-width: 675px) {
	.projecttop .projecttext {
        padding-left: 1em;
        padding-right: 1em;
    }
    .topimg {
        width: 100%;
    }
    .section {
		padding-inline: 2em;
        .smallerimg {
            width: 70%;
        }
        .mediumimg {
            max-width: 100%;
        }
        img {
            max-width: 100%;
        }
	}
    .projectinfo {
        flex-direction: column;
        align-items: center;
    }
    .hifiscreen {
        flex-direction:column;
        img {width:50%;}
    }
}