//maybe copy stuff from project.css?
/***** Color scheme *****/
@onyx:        #1e1e1e;
@mapurple:    #8c5ed3;
@accent:      #FFF256;
@neutral:     #FFF7DA;
@white:       #FFFFFF;
@black:       #000000;

@malitepurple: #c59ff0;
@accentmuted: #e5dd80;

.projecttop {
    background: 
        //linear-gradient(#253b7f, #253b7f2c)
        //#fa7f0c7d)
        //linear-gradient(90deg, #9ba6c5, rgb(255, 255, 255, 0.3) 40.71%)
        //radial-gradient(circle at bottom, white, transparent 70%), 
        //linear-gradient(rgba(255, 255, 255, 0.205),rgba(255, 255, 255, 0.205)),
        
        // half blue, half orange
        
        linear-gradient(45deg,  #253b7f, rgba(255, 255, 255, 0.1) 40.71%), 
		linear-gradient(135deg, #253b7f, rgba(255, 255, 255, 0.1) 40.71%), 
		linear-gradient(225deg, #fa7f0c, rgba(255, 255, 255, 0.1) 40.71%),
		linear-gradient(315deg, #FA7E0C, rgba(255, 255, 255, 0.1) 40.71%);
        
        
        // blue on top, orange on bottom
        /*radial-gradient(ellipse at center, #fffffff1, transparent),
        radial-gradient(ellipse at top, #253C7F, transparent),            
        radial-gradient(ellipse at bottom, #FA7E0C, transparent);
        */
    ;
    //background-color: #253C7F;
    text-align: center;
    margin: 0em; 
    padding: 3em;
}

.projecttext {
    margin: 5em;    

}

.projectinfo {
    display: grid;
    grid-template-columns: 15em 15em 15em;
    //grid-template-rows: 12em;
    column-gap: 2em;
    justify-items: stretch;
    //align-items: center;
    justify-content: center;
}
.infobox {
    background-color: white;
    padding: 1.5em;
}
.infobox h3 {
    margin: .5em;
    font-size: 1.5em;
}
.infobox p {
    //line-height: 0em;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}


.project {
    padding: 5em;
}
.section h2 {
    font-size: 3em;
}
.section h3 {
    font-size: 2em;
}