@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
p {
	font-size: 18px;
}
#caption {
	font-size: 15px;
	font-style:italic;
	color: rgb(110, 110, 110);
	text-align: center;
}

blockquote {
	position: relative;
  	padding: 1.2em 64px 1.2em 75px;
  	border-left: .3em solid #b97cff;
  	font-family: Open Sans;
	font-style: italic;
  	font-size: 1.4em;
  	line-height: 1.3em;
  	font-weight: 100;	
	background:#EDEDED;
}
blockquote:before, blockquote:after {
  	content: '\201C';
  	font-family: 'Arial';
  	color: #b97cff;
	font-size:4em;
	position:absolute;
	left:10px;
	top:50px;
}
blockquote:after {
  	content: '';
}

#body {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0%;
}
#bodyimg {
    text-align:center;
}
#bodyimg img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	transition:transform 0.25s ease;
}
#bodyimg img:hover {
 	-webkit-transform:scale(1.5);
    transform:scale(1.5);	
}

#header-img {
    width:100%;
}
#screen-img{
    width: 23%;
    border:2px solid #000000;
}
#med-img{
    width: 60%;
}

iframe {
    display: block;
    margin: 0 auto;
    width:430px;
}

/***  Insight  ***/
#storyboards {
    width: 100%;
    text-align: center;
}
#storyboards img {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 31%;
	padding: 5px;
	transition:transform 0.25s ease;
}
#storyboards img:hover {
	-webkit-transform:scale(2.3);
    transform:scale(2.3);	
}
/*****************/

/* Gary is Win */
#avatars {
    margin: auto;
    width: 100%;
    padding: 10px;    
    text-align: center;
}
#body #avatar {
    width:12%;
    padding:10px;
}
#body #avatar img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

li p{
	font-size: 15px;
	margin-top: 0%;
}
/***************/

/*
#projimg {
	width: 50%;
	float:left;
}
#projp {
	overflow:hidden;
}
#previews img {
	width: 90%;
	display: inline-block;
	vertical-align: middle;
}

#previews p {
	width: 50%;
	display: inline-block;
	/*float:right;
	padding: 10px;
}*/